<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
             "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="fund.mapper.CodeMapper">

	<select id="selectByPaymentMethod" resultType="fund.dto.Code">
		select c2.*
		from CodeGroup c1 left join Code c2 on c1.ID=c2.codeGroupID
		where c1.name=#{name}
	</select>
	
	<select id="selectByBank" resultType="fund.dto.Code">
		select c2.*
		from CodeGroup c1 left join Code c2 on c1.ID=c2.codeGroupID
		where c1.name=#{bank}
	</select>
	

</mapper>
