<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
             "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="fund.mapper.CodeMapper">

	<select id="selectByPaymentMethod" resultType="fund.dto.Code">
		select c2.*
		from CodeGroup c1 left join Code c2 on c1.ID=c2.codeGroupID
		where c1.name=#{name}
	</select>
	
	<select id="selectByBank" resultType="fund.dto.Code">
		select c2.*
		from CodeGroup c1 left join Code c2 on c1.ID=c2.codeGroupID
		where c1.name=#{bank}
	</select>
	
	<select id="selectSponsorType2" resultType="fund.dto.Code">
		select c2.*
		from CodeGroup c1 left join Code c2 on c1.ID=c2.codeGroupID
		where c1.name=#{name}
	</select>
	
	<select id="selectAllPaymentMethod" resultType="fund.dto.Code">
		select c2.*
		from CodeGroup c1 left join Code c2 on c1.ID=c2.codeGroupID
		where c1.name=#{name1} or c1.name=#{name2}	
	</select>
	
	<select id="selectChurch" resultType="fund.dto.Code">
		select c2.*
		from CodeGroup c1 left join Code c2 on c1.ID=c2.codeGroupID
		where c1.name=#{name}	
	
	</select>
	
	<select id="selectCodeName" resultType="String">
	select codeName
	from code
	where ID=#{ID}
	</select>
	

</mapper>
