<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
             "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="fund.mapper.CommitmentMapper">

	<select id="selectCommitmentBySponsorNo" resultType="fund.dto.Commitment">
	    select c.ID,s.ID,c.commitmentNo as 약정번호,s.name as 후원인이름,code.codeName as 납부방법
		from commitment c
		JOIN sponsor s
		ON c.sponsorID=s.ID
		JOIN code
		ON c.paymentMethodID=code.ID
		where s.sponsorNo='2016-0001'
	</select>

</mapper>
