<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.commitmentMapper">

	<select id="selectBySponsorID" resultType="dto.commitment"> 
		SELECT c.*,d.name
		FROM commitment c JOIN sponsor s ON c.sponsorID=s.id JOIN donationPurpose d ON c.donationPurposeID=d.id
		WHERE s.id =#{id} 
	</select>
	
	<insert id="insert" useGeneratedKeys="true" keyProperty="id"> 
		INSERT commitment (boardId, [no], userId, writeTime, readCount, title, body) 
		VALUES (#{boardId}, IsNULL((SELECT MAX([no]) 
		FROM bbs.Article 
		WHERE boardId = #{boardId}), 0) + 1, #{userId}, GETDATE(), 0, #{title}, #{body}) 
	</insert>

</mapper>