<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
             "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="fund.mapper.CommitmentMapper">

	<select id="selectBySponsorID" resultType="fund.dto.Commitment">
		SELECT
		c1.*,c2.codeName,d.name,s.sponsorNo
		FROM Commitment c1 left join
		Sponsor s on c1.sponsorID=s.ID
		left join Code c2 on
		c1.paymentMethodID=c2.ID LEFT JOIN DonationPurpose d
		on
		c1.donationPurposeID=d.ID
		WHERE s.ID=#{id}
	</select>

	<select id="selectCountCommitment" resultType="int">
		SELECT count(*)
		FROM Commitment c join Sponsor s on c.sponsorID=s.ID
		WHERE c.sponsorID
		= #{sponsorID}
	</select>
	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
		INSERT
		Commitment
		(sponsorID, [commitmentNo], donationPurposeID,
		paymentMethodID, commitmentDate,
		startDate, endDate, etc)
		VALUES
		(#{sponsorID},
		(SELECT s.sponsorNo + '-' +REPLACE(STR(count(*)+1,2), '
		', '0')
		FROM Commitment c join Sponsor s on c.sponsorID=s.ID WHERE
		c.sponsorID = #{sponsorID}
		group by s.sponsorNo),
		#{donationPurposeID},
		#{paymentMethodID},
		getDate(), getDate(), getDate(), #{etc})
	</insert>

	<update id="update">
		UPDATE Commitment
		SET
		startDate = #{startDate},
		endDate
		= #{endDate},
		etc=#{etc}
		WHERE ID = #{ID}
	</update>



</mapper>
