<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
             "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="fund.mapper.CommitmentDetailMapper">
	<select id="selectByCommitmentID2" resultType="fund.dto.CommitmentDetail">
	select *
	from CommitmentDetail
	where commitmentID = #{commitmentID}
	
	</select>
	
	<select id="selectCommitmentID" resultType="int">
	select MAX(ID)
	from Commitment 
	</select>
    
   <select id="selectByCommitmentID" resultType="fund.dto.CommitmentDetail">
   	SELECT c2.*
   	FROM Commitment c1 left join CommitmentDetail c2 on c1.ID=c2.commitmentID 
   	WHERE c1.ID=#{id}
   </select>
   
   <insert id="insert" useGeneratedKeys="true" keyProperty="ID">
        INSERT CommitmentDetail
               (commitmentID, amountPerMonth, paymentDay, startDate, bankID, accountNo, accountHolder, etc)
        VALUES (#{commitmentID}, #{amountPerMonth}, #{paymentDay}, #{startDate}, #{bankID}, #{accountNo}, #{accountHolder}, #{etc})
    </insert>
 
    
    <update id="update">
        UPDATE CommitmentDetail
        SET amountPerMonth = #{amountPerMonth}, 
        	  paymentDay = #{paymentDay},
        	  startDate = #{startDate},
              bankID = #{bankID},
              accountNo = #{accountNo}, 
              accountHolder = #{accountHolder}, 
              etc = #{etc}
        WHERE ID = #{ID}
    </update>
   

</mapper>
