<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
             "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="fund.mapper.CommitmentMapper">
    <sql id="select1"> 
        <![CDATA[
        DECLARE @today Date
        SET @today = GETDATE()
        SELECT c.*, me.codeName paymentMethodName, do.name donationPurposeName, 
            co.name corporateName, org.codeName orginizationName,
            CASE WHEN @today < startDate THEN '시작전' 
                 WHEN @today > endDate THEN '종료'
                 ELSE '진행' END [state],
            datediff(MM, startDate, endDate) months                 
        FROM Commitment c 
            join [Code] me on me.ID = c.paymentMethodID
            join DonationPurpose do on do.ID = c.donationPurposeID
            join Corporate co on co.ID = do.corporateID
            join [Code] org on org.ID = do.organizationID
        ]]>
    </sql>

	<select id="selectByID" resultType="fund.dto.Commitment">
        <include refid="select1"></include>
        WHERE c.id = #{id}
	</select>
	
	<select id="selectByCommitmentNo" resultType="fund.dto.Commitment">
        <include refid="select1"></include>
		WHERE c.commitmentNo = #{commitmentNo}
	</select>
	
	<select id="selectBySponsorAndPaymentMethod" resultType="fund.dto.Commitment">
        <include refid="select1"></include>
		WHERE c.paymentMethodID = #{paymentMethodID}
        AND c.ID IN (SELECT ID FROM commitment WHERE sponsorID = #{sponsorNo})
	</select>

	<select id="selectBySponsorID" resultType="fund.dto.Commitment">
        <include refid="select1"></include>
        WHERE c.ID IN (SELECT ID FROM commitment WHERE sponsorID = #{sponsorNo})
	</select>

	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
		DECLARE @num INT, @commitmentNo VARCHAR(50), @sponsorNo VARCHAR(50)

		SET @num = (SELECT ISNULL(COUNT(*),0)+1  FROM commitment WHERE sponsorID = #{sponsorID})
		SET @sponsorNo = (SELECT TOP 1 sponsorNo FROM sponsor WHERE ID = #{sponsorID})
		SET @commitmentNo = @sponsorNo + '-' + REPLACE(STR(@num,2),' ','0')
	
		INSERT Commitment (sponsorID, commitmentNo, donationPurposeID, paymentMethodID, commitmentDate, startDate, endDate, 
                           amountPerMonth, paymentDay, bankID, accountNo, accountHolder, etc)
		VALUES 
		         (#{sponsorID}, @commitmentNo, #{donationPurposeID}, #{paymentMethodID}, #{commitmentDate}, #{startDate}, #{endDate},
                  #{amountPerMonth}, #{paymentDay}, #{bankID}, #{accountNo}, #{accountHolder}, #{etc})
	</insert>

	<update id="update">
		UPDATE Commitment
		SET
            commitmentNo = #{commitmentNo},
            donationPurposeID = #{donationPurposeID},
            paymentMethodID = #{paymentMethodID},
            commitmentDate = #{commitmentDate},
            startDate = #{startDate},
            endDate = #{endDate},
            amountPerMonth = #{amountPerMonth},
            paymentDay = #{paymentDay},
            bankID = #{bankID},
            accountNo = #{accountNo},
            accountHolder = #{accountHolder},
            etc = #{etc}
		WHERE ID = #{ID}
	</update>
	
	<update id="updateEndDate">
		update Commitment
		set endDate = getDate()
		where ID = #{ID}
	</update>
	
	<delete id="delete">
	   delete from Commitment
	   where ID = #{ID}
	</delete>



</mapper>
