<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
             "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="fund.mapper.CorporateMapper">

	<select id="selectByName" resultType="fund.dto.Corporate">
		select *
		from corporate
		where name=#{name}
	</select>
	
	<select id="selectCorporate" resultType="fund.dto.Corporate">
		SELECT *
		FROM [Corporate]
	</select>
	
	<select id="selectCorporateID" resultType="Integer">
		SELECT id
		FROM [Corporate]
	</select>
	
   	<select id="selectByID" resultType="fund.dto.Corporate"> 
		SELECT  *
		FROM  [Corporate]
		WHERE ID = #{id}
	</select>
	
	
	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT [Corporate]
               (name, corporateNo, representative, address)
        VALUES (#{name},#{corporateNo},#{representative},#{address})
	</insert>
	
	<update id="update">
        UPDATE [Corporate]
        SET name = #{name}, corporateNo = #{corporateNo}, representative = #{representative}, address = #{address}
        WHERE ID = #{id}
    </update>
	
    <delete id="delete">
        DELETE FROM [Corporate] WHERE ID = #{id}
    </delete>
    
	
</mapper>
