<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
             "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="fund.mapper.DonationPurposeMapper">

	<select id="selectDonationPurpose" resultType="fund.dto.DonationPurpose">
		select
		d.*,c1.codeName,c2.name "corporateName"
		from DonationPurpose d left
		join Code c1 on d.organizationID=c1.ID
		left join Corporate c2 on d.corporateID=c2.ID
	</select>
	
	<select id="selectDonationPurpose2" resultType="String">
	select name
	from donationPurpose 
	where ID=#{ID}
	
	</select>
	
	<select id="selectCoporateName" resultType="String">
	select corporate.name
	from donationPurpose join corporate 
	on donationPurpose.corporateID=corporate.ID
	where donationPurpose.ID=#{ID}
	</select>

</mapper>
