<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
             "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="fund.mapper.EB13Mapper">

	<insert id="createEB13file" useGeneratedKeys="true" keyProperty="id">
		insert into EB13 values(GETDATE())
		select MAX(ID) as eb13_max from EB13
	</insert>
	
    <insert id="createEB13list" useGeneratedKeys="true" keyProperty="id">
	    insert into EB13_commitmentDetail
		values ((select MAX(ID) from EB13),#{commitmentDeailID},'신규')     
    </insert>

</mapper>