<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
             "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="fund.mapper.EB13_CommitmentDetailMapper">

    <select id="selectEB13" resultType="fund.dto.EB13_CommitmentDetail">
	    select s.sponsorNo,cd.accountHolder,LEFT(s.juminNo,6) jumin ,codeName,cd.accountNo,cd.ID commitmentDetailID
		from [commitmentDetail] cd
		INNER JOIN [code]
		ON cd.bankID=code.ID
		LEFT JOIN [commitment] c
		ON cd.commitmentID=c.ID
		LEFT JOIN [sponsor] s
		ON c.sponsorID=s.ID
		where cd.ID
		not in (select commitmentDetailID from [EB13_commitmentDetail])
    </select>

	<select id="selectEB14" resultType="fund.dto.EB13_CommitmentDetail">
		select * from EB13_commitmentDetail
		where EB13ID
		in (select ID
		from EB13 
		where EB13.createDate=#{createDate})
	</select>
	
	<update id="updateEB14error">
		update EB13_commitmentDetail set state='에러'
		where commitmentDetailID IN
		(select cd.ID
		from EB13_commitmentDetail eb
		JOIN commitmentDetail cd
		ON eb.commitmentDetailID=cd.ID
		JOIN commitment c
		ON cd.commitmentID=c.ID
		JOIN sponsor s
		ON c.sponsorID=s.ID
		where s.sponsorNo=#{sponsorNo})
	</update>
	
	<update id="updateEB14success">
		update EB13_commitmentDetail set state='성공'
		where commitmentDetailID NOT IN
		(select cd.ID
		from EB13_commitmentDetail eb
		JOIN commitmentDetail cd
		ON eb.commitmentDetailID=cd.ID
		JOIN commitment c
		ON cd.commitmentID=c.ID
		JOIN sponsor s
		ON c.sponsorID=s.ID
		where s.sponsorNo=#{sponsorNo})
		AND
		EB13ID IN
		(select e.ID
		from EB13 e
		where e.createDate=#{createDate})
	</update>
	
	<select id="selectEB1314" resultType="fund.dto.EB13_CommitmentDetail">
		select e.createDate,s.sponsorNo,s.name,c.commitmentNo,eb.state,d.name donationPurpose
		from EB13_commitmentDetail eb JOIN commitmentDetail cd
		ON EB.commitmentDetailID=CD.ID
		JOIN EB13 e
		ON eb.EB13ID=e.ID
		INNER JOIN code
		ON cd.bankID=code.ID
		LEFT JOIN commitment c
		ON cd.commitmentID=c.ID
		LEFT JOIN sponsor s
		ON c.sponsorID=s.ID
		JOIN donationPurpose d
		ON c.donationPurposeID=d.ID
	</select>
	
	<select id="test" resultType="fund.dto.EB13_CommitmentDetail">
		select * from EB13_commitmentDetail
	</select>
	
</mapper>
