<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
             "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="fund.mapper.EB21Mapper">

	<insert id="createEB21file" useGeneratedKeys="true" keyProperty="id">
		insert into EB21_commitmentDetail
		values ((select MAX(ID) from EB21),
		(select cd.ID from 
		commitmentDetail cd
		INNER JOIN code
		ON cd.bankID=code.ID
		LEFT JOIN commitment c
		ON cd.commitmentID=c.ID
		LEFT JOIN sponsor s
		ON c.sponsorID=s.ID
		where cd.ID
		not in (select commitmentDetailID from EB21_commitmentDetail)
		)
		,'신청') 
	</insert>

</mapper>
