<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
             "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="fund.mapper.EB21_CommitmentDetailMapper">

	<select id="selectEB21" resultType="fund.dto.EB21_commitmentDetail">
    	select s.sponsorNo,cd.accountHolder,LEFT(s.juminNo,6) jumin,code.codeName,cd.accountNo,cd.amountPerMonth,code.etc1
		from [commitmentDetail] cd
		LEFT JOIN [EB13_commitmentDetail] eb
		ON eb.state='성공' AND cd.ID=eb.commitmentDetailID
		LEFT JOIN [commitment] c
		ON cd.commitmentID=c.ID
		AND (c.endDate is null OR c.endDate>GETDATE())
		JOIN [sponsor] s
		ON c.sponsorID=s.ID
		JOIN [code]
		ON cd.bankID=code.ID
		WHERE cd.paymentDay=#{pDay}
	</select>
	
	<select id="selectEB22" resultType="fund.dto.EB21">
		select * from EB21_commitmentDetail
		where EB21ID
		in (select ID
		from EB21 
		where EB21.paymentDate=#{paymentDay})			
	</select>
	
	<update id="updateEB21error">
		update EB21_commitmentDetail set state='에러'
		where commitmentDetailID IN
		(select cd.ID
		from EB21_commitmentDetail eb
		JOIN commitmentDetail cd
		ON eb.commitmentDetailID=cd.ID
		JOIN commitment c
		ON cd.commitmentID=c.ID
		JOIN sponsor s
		ON c.sponsorID=s.ID
		JOIN EB21 e
		ON e.paymentDate='2016-09-25'
		where s.sponsorNo=#{sponsorNo})
	</update>
	
	<update id="updateEB21success">
		update EB21_commitmentDetail 
		set state='성공'
		where commitmentDetailID NOT IN
		(select cd.ID
		from EB21_commitmentDetail eb
		JOIN commitmentDetail cd
		ON eb.commitmentDetailID=cd.ID
		JOIN commitment c
		ON cd.commitmentID=c.ID
		JOIN sponsor s
		ON c.sponsorID=s.ID
		where s.sponsorNo=#{sponsorNo})
		AND
		EB21ID IN
		(select e.ID
		from EB21 e
		where e.paymentDate='2016-09-25')
	</update>
	
	<select id="selectEB2122" resultType="fund.dto.EB21_commitmentDetail">
		select e.createDate,s.sponsorNo,s.name,c.commitmentNo,eb.state,d.name donationPurpose
		from EB21_commitmentDetail eb JOIN commitmentDetail cd
		ON eb.commitmentDetailID=cd.ID
		JOIN EB21 e
		ON eb.EB21ID=e.ID
		INNER JOIN code
		ON cd.bankID=code.ID
		LEFT JOIN commitment c
		ON cd.commitmentID=c.ID
		LEFT JOIN sponsor s
		ON c.sponsorID=s.ID
		JOIN donationPurpose d
		ON c.donationPurposeID=d.ID
	
	</select>
</mapper>
