<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
             "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="fund.mapper.FileAttachmentMapper">

  
    <select id="selectBySponosrId" resultType="fund.dto.FileAttachment">
        SELECT *
        FROM   fileAttachment
        WHERE  sponsorId = #{sponsorId}
    </select>
    
    <select id="selectById" resultType="fund.dto.FileAttachment">
        SELECT *
        FROM   fileAttachment
        WHERE  ID = #{id}
    </select>


    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO fileAttachment(sponsorId,fileName,fileSize,createDate,data)
        VALUES (#{sponsorId}, #{fileName}, #{filesize},GETDATE(), #{data})
    </insert>

    <delete id="deleteById">
        DELETE fileAttachment WHERE id = #{id}
    </delete>

    

</mapper>