<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
             "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="fund.mapper.PrintDonationMapper">

	<select id="selectById" resultType="fund.dto.PrintDonation">
		SELECT p.*, u.name
		FROM
		PrintDonation p LEFT JOIN [User] u ON p.userID = u.ID
		WHERE p.ID = #{id}
	</select>

	<select id="selectMaxNum" resultType="fund.dto.PrintDonation">
		select *
		from PrintDonation
		where ID = (select MAX(ID) from PrintDonation)
	</select>
	
	<select id="selectByNum" resultType="fund.dto.PrintDonation">
		select *
		from PrintDonation
		where num = #{num}
	</select>
	
	
	<select id="selectPage" resultType="fund.dto.PrintDonation">
        <![CDATA[
        SELECT *
        FROM
            (SELECT p.ID, p.createDate, p.sponsorName, p.amount, u.name, STR(YEAR(GETDATE()),4) + '-' + REPLACE(STR(num,4), ' ', '0') num2,
                     ROW_NUMBER() OVER (ORDER BY p.ID DESC) 행번호
              FROM [PrintDonation] p LEFT JOIN [User] u ON p.userID = u.ID
              WHERE
                (#{srchType} = 0) OR (#{srchType} = 1 AND CHARINDEX(#{srchText}, sponsorName) = 1) OR
				(#{srchType} = 2 AND CHARINDEX(#{srchText}, createDate) > 0) OR 
				(#{srchType} = 3 AND #{srchText} = amount)
                  
             )subquery
        WHERE 행번호 > (#{currentPage} - 1) * #{pageSize} AND
              행번호 <= #{currentPage} * #{pageSize}
        ORDER BY 행번호
        ]]>
	</select>

	<select id="selectCount" resultType="int">
		SELECT COUNT(*)
		FROM
		[PrintDonation] p LEFT JOIN [User] u ON p.userID = u.ID
		WHERE
		(#{srchType} = 0) OR (#{srchType} = 1 AND CHARINDEX(#{srchText},
		sponsorName)= 1) OR
		(#{srchType} = 2 AND CHARINDEX(#{srchText},
		createDate) > 0) OR
		(#{srchType} = 3 AND CHARINDEX(#{srchText}, amount)
		> 0)

	</select>

	<select id="selectSerialNum" resultType="String">
		SELECT STR(YEAR(GETDATE()),4) + '-' + REPLACE(STR(ISNULL(MAX(num),0)+1,4), ' ', '0') 
		FROM PrintDonation
	</select>
	
	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
		INSERT
		printDonation(userID,createDate,sponsorName,amount,num)
		VALUES(#{userID}, GETDATE(),#{sponsorName},#{amount},
		IsNULL((SELECT MAX([num]) FROM PrintDonation), 0) + 1)
	</insert>
	
	

	<delete id="delete">
		DELETE FROM [PrintDonation] WHERE ID = #{id}
	</delete>

</mapper>
