<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="fund.mapper.SponsorMapper">

<select id="selectKey1" resultType="java.lang.String">
SELECT ${key1}
</select>

<select id="selectById" resultType="fund.dto.Sponsor">
SELECT *,
  CONVERT(VARCHAR, DECRYPTBYPASSPHRASE(CONVERT(VARCHAR, ${key1}), juminNo_encrypted)) juminNo,
  (SELECT codeName FROM code c WHERE c.id = s.churchID ) church,
  (SELECT codeName FROM code t WHERE t.id = s.sponsorType1Id) sponsorType1
FROM sponsor s
WHERE id = #{id}
</select>

<select id="selectPage" resultType="fund.dto.Sponsor">
<![CDATA[
DECLARE @order INT, @srchType INT, @srchText NVARCHAR(50), @currentPage INT, @pageSize INT
SET @order = #{order}
SET @srchType = #{srchType}
SET @srchText = RTRIM(#{srchText})
SET @currentPage = #{currentPage}
SET @pageSize = #{pageSize}
SELECT *
FROM( 
  SELECT id, sponsorNo, name, signUpDate, mobilePhone, email, 
    (SELECT codeName FROM code WHERE code.id=s.sponsorType1Id )AS sponsorType1,
    (SELECT codeName FROM code WHERE code.id=s.sponsorType2Id )AS sponsorType2,
    (SELECT codeName FROM code WHERE code.id=s.churchID ) AS church,
    CASE @order
      WHEN 0 THEN ROW_NUMBER() OVER (ORDER BY s.id DESC)
      WHEN 1 THEN ROW_NUMBER() OVER (ORDER BY s.sponsorNo DESC)
    END 행번호
    FROM [sponsor] s
    WHERE
       ((LEN(@srchText) = 0) OR
        (CHARINDEX(@srchText, name) > 0) OR
        (CHARINDEX(@srchText, sponsorNo) > 0)) 
    AND (#{st1} = 0 OR #{st1} = sponsorType1Id)
    AND (#{st2} = 0 OR #{st2} = sponsorType2Id)
  ) subquery
WHERE 행번호 > (@currentPage - 1) * @pageSize AND
      행번호 <= @currentPage * @pageSize
ORDER BY 행번호
]]>
</select>

<select id="selectAll" resultType="fund.dto.Sponsor">
<![CDATA[
SELECT sponsorNo, name, 
    (SELECT TOP 1 codeName FROM code c WHERE c.id = sponsorType1Id) sponsorType1,
    (SELECT TOP 1 codeName FROM code c WHERE c.id = sponsorType2Id) sponsorType2,
    (SELECT TOP 1 codeName FROM code c WHERE c.id = churchId) church,
    signUpDate,
    mobilePhone,
    email
FROM sponsor s
ORDER BY sponsorNo DESC
]]>
</select>

<select id="selectCount" resultType="int">
<![CDATA[
DECLARE @srchType INT, @srchText NVARCHAR(50)
SET @srchType = #{srchType}
SET @srchText = RTRIM(#{srchText})

SELECT COUNT(*) 
FROM [sponsor] s
WHERE
   ((LEN(@srchText) = 0) OR
    (CHARINDEX(@srchText, name) > 0) OR
    (CHARINDEX(@srchText, sponsorNo) > 0)) 
AND (#{st1} = 0 OR #{st1} = sponsorType1Id)
AND (#{st2} = 0 OR #{st2} = sponsorType2Id)
]]>
</select>   
    
<update id="update">
DECLARE @encrypted VARBINARY(1000)
SET @encrypted = ENCRYPTBYPASSPHRASE(CONVERT(VARCHAR, ${key1}), CONVERT(VARCHAR, #{juminNo}))
UPDATE sponsor
SET 
  name = #{name},
  juminNo_encrypted = @encrypted,
  sponsorType1Id = #{sponsorType1Id},
  sponsorType2Id = #{sponsorType2Id},
  sponsorTypeDetail = #{sponsorTypeDetail},
  churchId = CASE WHEN #{churchId} = 0 THEN null ELSE #{churchId} END,
  signUpDate = #{signUpDate},
  mobilePhone = #{mobilePhone},
  recommender = #{recommender},
  recommenderRelation = #{recommenderRelation},
  mailReceiving = #{mailReceiving},
  mailTo = #{mailTo},
  homeRoadAddress = #{homeRoadAddress},
  homeDetailAddress = #{homeDetailAddress},
  homePostCode = #{homePostCode},
  homePhone = #{homePhone},
  email = #{email},
  company = #{company},
  department = #{department},
  position = #{position},
  officePhone = #{officePhone},
  officeRoadAddress = #{officeRoadAddress},
  officeDetailAddress = #{officeDetailAddress},
  officePostCode = #{officePostCode},
  etc = #{etc}
WHERE id = #{id}
</update>    
    
<delete id="delete">
  DELETE FROM sponsor WHERE id = #{id}
</delete>

<insert id="insert" useGeneratedKeys="true" keyProperty="id">
DECLARE @encrypted VARBINARY(1000)
SET @encrypted = ENCRYPTBYPASSPHRASE(CONVERT(VARCHAR, ${key1}), CONVERT(VARCHAR, #{juminNo}))
INSERT sponsor(sponsorNo, name, sponsorType1Id, sponsorType2Id, sponsorTypeDetail, 
  churchId, signUpDate, mobilePhone, 
  recommender, recommenderRelation, mailReceiving, mailTo, homeRoadAddress, homeDetailAddress, homePostCode, homePhone, 
  email, company, department, position, officePhone, officeRoadAddress, officeDetailAddress, officePostCode, etc, juminNo_encrypted)
VALUES (#{sponsorNo}, #{name}, #{sponsorType1Id}, #{sponsorType2Id}, #{sponsorTypeDetail},
  IIF(#{churchId} = 0, null, #{churchId}), #{signUpDate}, #{mobilePhone}, 
  #{recommender}, #{recommenderRelation}, #{mailReceiving}, #{mailTo},  #{homeRoadAddress}, #{homeDetailAddress}, #{homePostCode}, #{homePhone},
  #{email}, #{company}, #{department}, #{position}, #{officePhone}, #{officeRoadAddress}, #{officeDetailAddress}, #{officePostCode}, #{etc}, @encrypted)
</insert>

<select id="generateSponsorNo" resultType="java.lang.String">
DECLARE @n INT, @year CHAR(4)
SET @year = YEAR(GETDATE())
SET @n = (
  SELECT MAX(CONVERT(INT, RIGHT(sponsorNo,4)))
  FROM sponsor
  WHERE CHARINDEX(@year, sponsorNo) = 1 AND LEN(sponsorNo) = 9
  AND ISNUMERIC(RIGHT(sponsorNo,4)) = 1)
SET @n = ISNULL(@n,0) + 1
SELECT @year + '-' + REPLACE(STR(@n,4), ' ', '0')
</select>

<select id="selectForDM" resultType="fund.dto.Sponsor">
<![CDATA[
SELECT *
FROM (
  SELECT *, ROW_NUMBER() OVER (ORDER BY sponsorNo DESC) 행번호
  FROM (
    SELECT s.*,
      (SELECT codeName FROM code c WHERE c.id = s.sponsorType2Id) AS sponsorType2,
      (SELECT codeName FROM code c WHERE c.id = s.churchId) AS church
    FROM sponsor s 
    WHERE s.id IN (SELECT sponsorId FROM payment p WHERE paymentDate BETWEEN #{startDate} AND #{endDate})
    AND s.mailReceiving = 1
  ) subquery1
) subquery2
WHERE 행번호 > (#{currentPage} - 1) * #{pageSize} AND
      행번호 <= #{currentPage} * #{pageSize}
ORDER BY 행번호
]]>
</select>
    
<select id="selectCountForDM" resultType="int">
  SELECT COUNT(*)
  FROM sponsor s 
  WHERE s.id IN (SELECT sponsorId FROM payment p WHERE paymentDate BETWEEN #{startDate} AND #{endDate})
  AND s.mailReceiving = 1
</select>    
   
</mapper>
