<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="fund.mapper.TempNoMapper">

<insert id="tempInsert">
IF NOT EXISTS  (SELECT * FROM tempNo WHERE id = #{id}) 
  INSERT INTO tempNo VALUES(#{id}, #{no})
</insert>

<delete id="deleteAll">
  DELETE FROM tempNo
</delete>

</mapper>
    