<?xml version="1.0" encoding="UTF-8" ?>		
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"		
             "http://mybatis.org/dtd/mybatis-3-mapper.dtd">		
		
<mapper namespace="fund.mapper.UserMapper">		
		
    <select id="selectById" resultType="fund.dto.User">		
        SELECT * FROM [User] WHERE id = #{id}		
    </select>		
		
    <select id="selectByLoginId" resultType="fund.dto.User">		
        SELECT * FROM [User] WHERE loginName = #{loginName}		
    </select>		
		
    <select id="selectAll" resultType="fund.dto.User">		
        SELECT u.*, d.departmentName		
        FROM [User] u LEFT JOIN department d ON u.departmentId = d.id		
    </select>	
    
    <select id="churchSum" resultType="fund.dto.Sponsor">		
       select (select codeName from code where code.ID=sponsor.churchID) AS church,
              sum(CAST( amount AS BIGINT )) AS sum
      from sponsor join payment on  sponsor.ID=payment.sponsorID  where  paymentDate between#{startDate}and#{endDate} group by churchID
	
    </select>	
    
    
    
    <insert id="userInsert"  useGeneratedKeys="true" keyProperty="id">
      insert into [User](loginName,password,name,email,admin)
      values(#{loginName},#{password},#{name},#{email},0)
    </insert>	
   
  
    		
		
</mapper>		

